<h1>Editing user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </p>
  <p>
    <%= f.label :flickr_id %><br />
    <%= f.text_field :flickr_id %>
  </p>
  <p>
    <%= f.label :group_id %><br />
    <%= f.select :group_id, Group.find(:all).map{|g|["#{g.id}:#{g.name}",g.id]} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
