<html>
  <head>
    <title>ジオジオスタンプラリー</title>
  </head>
  <body>
    <h1>ジオジオスタンプラリー</h1>

    <table border="1">
      <tr>
	<th>時間帯</th>
	<% @groups.each do |group| %>
	<% group.users.each do |user| %>
	<th><%=h group.name %><br/><%=h user.name %></th>
	<% end %>
	<% end %>
      </tr>
      <% 13.upto(19) do |i| %>
      <% 0.upto(5) do |j| %>
      <% now_time = DateTime.new(2009, 7, 20, i, j*10) %>
      <% end_time = now_time + 9.minute %>
      <tr>
	<td><%=h "#{i}:#{j}0-#{i}:#{j}9" %></td>
	<% @groups.each do |group| %>
	<% group.users.each do |user| %>
	<td>
	  <% statuses = Status.find(:all, :conditions => ["status_created_at between ? and ? and user_id = ?", now_time, end_time, user.id]) %>
	  <% statuses.each do |status| %>
	  <%=h status.status_text %><br/>
	  <% end %>
	</td>
	<% end %>
	<% end %>
      </tr>
      <% end %>
      <% end %>
    </table>

    <% @groups.each do |group| %>
    <h2><%=h group.name %></h2>
    <% group.users.each do |user| %>
    <h2><%=h user.name %></h3>

    <h3>写真</h2>
    <% user.photos.each do |photo| %>
    <%= link_to(image_tag(photo.url_thumbnail, :size => '100x100'), photo.url, {:class => 'highslide', :onclick => 'return hs.expand(this)'}) %>
    <% end %>

    <h3>つぶやき</h2>
    <% user.statuses.each do |status| %>
    <%= link_to(status.status_text, "http://twitter.com/#{user.twitter_id}/status/#{status.status_id}") %>
    <% end %>

    <% end %>
    <% end %>
  </body>

<!-- Highside JS -->
<script type="text/javascript" src="/javascripts/highslide/highslide.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/highslide/highslide.css" />
<script type="text/javascript">
	hs.graphicsDir = '/javascripts/highslide/graphics/';
	hs.wrapperClassName = 'wide-border';
</script>
</html>

