<% cell_color = ["#ddbbbb", "#ddccbb", "#ddddbb", "#ccddbb", "#bbddbb", "#bbddcc", "#bbdddd", "#bbccdd", "#bbccee"] %>
<html>
  <head>
    <title>ジオジオスタンプラリー</title>
  </head>
  <body>
    <h1><%= image_tag('http://geogeo.jp/images/geogeo.png', :alt => 'ジオジオスタンプラリー') %></h1>
    <%= link_to(image_tag('http://github.com/akio0911/hcrepos/raw/e4d7b4bef910f36d743610d504dce96691b44997/websites/images/hclogo_s.png', :alt => "Hacker's Cafe", :border => '0'), 'http://www.hackers-cafe.net/') %>

    <table border="1">
      <tr>
	<th>時間帯</th>
	<% @groups.each do |group| %>
	<% group.users.each do |user| %>
  <th>
    <%=h group.name %>
    <br/>
    <%= image_tag "http://usericons.relucks.org/twitter/#{h(user.name.downcase)}" %>
    <br/>
    <%=h user.name %>
  </th>
	<% end %>
	<% end %>
      </tr>
      <% 13.upto(19) do |i| %>
      <% 0.upto(5) do |j| %>
      <% now_time = DateTime.new(2009, 7, 20, i, j*10) %>
      <% end_time = now_time + 9.minute %>
      <tr>
	<td><%=h "#{i}:#{j}0-#{i}:#{j}9" %></td>
	<% group_index = 0 %>
	<% @groups.each do |group| %>
	<% group.users.each do |user| %>
	<td style='background-color:<%=h cell_color[group_index] %>'>
    <% statuses = Status.find(:all,
                              :conditions => ["status_created_at between ? and ? and user_id = ?", now_time, end_time, user.id],
                              :order => "status_created_at DESC"
    ) %>
	  <% statuses.each do |status| %>
	  <%=h status.status_text %><br/>
	  <% end %>
    <%#= now_time %>
    <%#= end_time %>
    <%#= Photo.find(:first).taken_at %>
	  <% photos = Photo.find(:all, :conditions => ["taken_at between ? and ? and user_id = ?", now_time + 9.hour, end_time + 9.hour, user.id]) %>
	  <% photos.each do |photo| %>
	  <%= link_to(image_tag(photo.url_thumbnail, :size => '100x100'), photo.url, {:class => 'highslide', :onclick => 'return hs.expand(this)'}) %>
	  <% end %>
	  
	</td>
	<% end %>
	<% group_index = group_index + 1 %>
	<% end %>
      </tr>
      <% end %>
      <% end %>
    </table>
  </body>

<!-- Highside JS -->
<script type="text/javascript" src="/javascripts/highslide/highslide.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/highslide/highslide.css" />
<script type="text/javascript">
	hs.graphicsDir = '/javascripts/highslide/graphics/';
	hs.wrapperClassName = 'wide-border';
</script>
</html>

