<html>
  <head>
    <title>ジオジオスタンプラリー</title>
  </head>
  <body>
    <h1>ジオジオスタンプラリー</h1>

    <table border="1">
      <tr>
	<th>時間帯</th>
	<% @groups.each do |group| %>
	<% group.users.each do |user| %>
	<th><%=h group.name %><br/><%=h user.name %></th>
	<% end %>
	<% end %>
      </tr>
      <% 13.upto(19) do |i| %>
      <% 0.upto(5) do |j| %>
      <% now_time = DateTime.new(2009, 7, 20, i, j*10) %>
      <% end_time = now_time + 9.minute %>
      <tr>
	<td><%=h "#{i}:#{j}0-#{i}:#{j}9" %></td>
	<% @groups.each do |group| %>
	<% group.users.each do |user| %>
	<td>
    <% statuses = Status.find(:all,
                              :conditions => ["status_created_at between ? and ? and user_id = ?", now_time, end_time, user.id],
                              :order => "status_created_at DESC"
    ) %>
	  <% statuses.each do |status| %>
	  <%=h status.status_text %><br/>
	  <% end %>
    <%#= now_time %>
    <%#= end_time %>
    <%#= Photo.find(:first).taken_at %>
	  <% photos = Photo.find(:all, :conditions => ["taken_at between ? and ? and user_id = ?", now_time + 9.hour, end_time + 9.hour, user.id]) %>
	  <% photos.each do |photo| %>
	  <%= link_to(image_tag(photo.url_thumbnail, :size => '100x100'), photo.url, {:class => 'highslide', :onclick => 'return hs.expand(this)'}) %>
	  <% end %>
	  
	</td>
	<% end %>
	<% end %>
      </tr>
      <% end %>
      <% end %>
    </table>
  </body>

<!-- Highside JS -->
<script type="text/javascript" src="/javascripts/highslide/highslide.js"></script>
<link rel="stylesheet" type="text/css" href="/javascripts/highslide/highslide.css" />
<script type="text/javascript">
	hs.graphicsDir = '/javascripts/highslide/graphics/';
	hs.wrapperClassName = 'wide-border';
</script>
</html>

