<p>
  <b>Latitude:</b>
  <%=h @photo.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @photo.longitude %>
</p>

<p>
  <b>Url:</b>
  <%=h @photo.url %>
</p>
<p>
  <b>UserID:</b>
  <%=h @photo.user_id %>
</p>
<p>
  <b>UserName:</b>
  <%=h @photo.user.name %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
